.datepicker-container {
  position: relative;
}
.main-wrapper {
  position: absolute;
}
.datepicker-field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 0.3rem;
  padding: 10px 10px;

  user-select: none;
  cursor: pointer;

  background: #e4f1ff;
  border: 1px solid #dbdbdb;
  border-radius: 11.5px;

  font-weight: 600;
  font-size: 14px;
  color: #027aff;

  .datepicker-icon {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}
.calendar-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;

  font-weight: 700;
  font-size: 14px;

  user-select: none;
  transform: translateX(-64%);

  color: #333333;
}
.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 0.2rem;
  width: 70%;
}
.calendar-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.calendar-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .calendar-day-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 32.86px;

    background: #ffffff;
  }
}
.other-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 32.86px;

  background: #ffffff;
  color: #aaaaaa;
}
.calendar-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 32.86px;

  background: #ffffff;

  font-weight: 600;
  font-size: 13px;

  cursor: pointer;
  border-radius: 3px;
}
.calendar-date:hover {
  background-color: #aaaaaa;
}
.today {
  background-color: #027aff;
  color: #fff;

  &:hover {
    background-color: #027aff;
    color: #fff;
  }
}
.selected-date {
  background-color: green;
  color: #fff;

  &:hover {
    background-color: green;
    color: #fff;
  }
}
