.datepicker-container {
  position: relative;
}
.main-wrapper {
  position: absolute;
  right: 320%;
}
.datepicker-field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 0.3rem;
  padding: 0.625rem 0.625rem;

  user-select: none;
  cursor: pointer;

  background: #e4f1ff;
  border: 0.0625rem solid #dbdbdb;
  border-radius: 0.7188rem;

  font-weight: 600;
  font-size: 0.875rem;
  color: #027aff;

  .datepicker-icon {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}
.calendar-container {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  background: #ffffff;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.5rem;

  font-weight: 700;
  font-size: 0.875rem;

  user-select: none;
  color: #333333;
}
.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem;
  margin-top: 0.2rem;
  width: 70%;
}
.calendar-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
}
.calendar-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .calendar-day-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;

    width: 2.0537rem;

    background: #ffffff;
  }
}
.other-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;

  width: 2.0537rem;

  background: #ffffff;
  color: #aaaaaa;
}
.calendar-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;

  width: 2.0537rem;

  background: #ffffff;

  font-weight: 600;
  font-size: 0.8125rem;

  cursor: pointer;
  border-radius: 0.1875rem;
}
.calendar-date:hover {
  background-color: #e2e2e2;
}
.today {
  background-color: #027aff;
  color: #fff;

  &:hover {
    background-color: #027aff;
    color: #fff;
  }
}
.selected-date {
  background-color: green;
  color: #fff;

  &:hover {
    background-color: green;
    color: #fff;
  }
}
.calendar-month-year {
  display: flex;
  gap: 0.1875rem;
  .months {
    border-radius: 0.25rem;
    padding: 0.125rem;
  }
  .years {
    border-radius: 0.25rem;
    padding: 0.125rem;
  }
}
