.category-field {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px;

  user-select: none;
  cursor: pointer;

  background: #e4f1ff;
  border: 1px solid #dbdbdb;
  border-radius: 11.5px;

  font-weight: 600;
  font-size: 14px;
  color: #027aff;
}
.category-input-field {
  input {
    display: flex;
    border-radius: 3px;
  }
}
