.category-container {
  position: relative;
}
.category-field {
  position: absolute;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 10px;

  font-weight: 600;
  font-size: 14px;
  color: #000000;
  transform: translateX(-75%);
}
.category-info-field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 0.3rem;
  padding: 10px 10px;

  user-select: none;
  cursor: pointer;

  background: #e4f1ff;
  border: 1px solid #dbdbdb;
  border-radius: 11.5px;

  font-weight: 600;
  font-size: 14px;
  color: #027aff;
}
.category-input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
  input {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}
.category-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
  width: 100%;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 2px;

  font-weight: 600;

  &:hover {
    background-color: #027aff;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
  }

  .delete-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
