.datepicker-container {
  position: relative;
}

.datepicker-field {
  width: 87%;
  margin: 10px 10px;
  padding: 10px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.main-wrapper {
  position: absolute;
  top: 41px;
}