.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;

  font-weight: 600;
  font-size: 1.5625rem;
}
.search-bar {
  display: flex;
  flex-direction: column;

  input {
    padding: 0.625rem;
    margin-bottom: 0.2rem;

    background: #efefef;
    border-radius: 0.1875rem;
    border-width: 0;

    font-weight: 600;
    font-size: 0.875rem;
    color: #000000;
  }
  ::placeholder {
    color: #939393;
  }
  p {
    font-weight: 400;
    font-size: 0.6875rem;
    color: #939393;
  }
}
