.main-container {
  padding: 3.125rem 1.4375rem;
  background: #ffffff;
}
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;

  .signup-header-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;

    .signup-header-title h1 {
      font-weight: 600;
      font-size: 1.75rem;
      color: #000000;
    }
  }
  .line-1 {
    width: 100%;
    border: 0.0625rem solid #d3d3d3;
  }
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  margin-bottom: 2rem;

  .signup-input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;

    .signup-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.6rem;
      margin-bottom: 1rem;

      label {
        font-weight: 600;
        font-size: 1.125rem;
        color: #000000;
      }
      input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.875rem 0.9375rem;

        width: 100%;
        height: 2.9375rem;

        background: #ffffff;
        border: 0.0625rem solid #cecece;
        border-radius: 0.3125rem;

        font-weight: 400;
        font-size: 1rem;
        color: #000000;
      }
    }
    .signup-email {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.6rem;
      margin-bottom: 1rem;

      label {
        font-weight: 600;
        font-size: 1.125rem;
        color: #000000;
      }

      input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.875rem 0.9375rem;

        width: 100%;
        height: 2.9375rem;

        background: #ffffff;
        border: 0.0625rem solid #cecece;
        border-radius: 0.3125rem;

        font-weight: 400;
        font-size: 1rem;
        color: #000000;
      }
    }
    .signup-password {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.6rem;
      margin-bottom: 1rem;

      label {
        font-weight: 600;
        font-size: 1.125rem;
        color: #000000;
      }

      .signup-field-password {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 0.875rem 0.9375rem;

        width: 21.5rem;
        height: 2.9375rem;

        background: #ffffff;
        border: 0.0625rem solid #cecece;
        border-radius: 0.3125rem;

        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;

        color: #9b9b9b;
        input {
          width: 100%;
          background-color: transparent;
          border: hidden;
          outline: none;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .signup-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      width: 21.5rem;
      height: 3.75rem;

      background: #027aff;
      border-radius: 0.5rem;
      border-width: 0;

      font-weight: 600;
      font-size: 0.9375rem;
      color: #ffffff;
    }
  }
}
.signup-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  width: 21.5rem;
  height: 4.8125rem;
  .login-instead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 4.8125rem;

    .line-2 {
      width: 21.5rem;
      border: 0.0625rem solid #d3d3d3;
    }
    .signup-footer-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;

      p {
        font-weight: 600;
        font-size: 0.9375rem;
        color: #939393;
      }
      a {
        font-weight: 600;
        font-size: 0.9375rem;
        color: #027aff;
        text-decoration: none;
      }
    }
  }
}
